In [2]:
import pandas as pd

In [5]:
data = {'Name':['alice', 'BOB', 'Charlie']}

In [6]:
df = pd.DataFrame(data)

In [7]:
df['Name'] = df['Name'].str.lower()

In [8]:
print(df)

      Name
0    alice
1      bob
2  charlie