In [2]:
import pandas as pd

In [3]:
data = {'Info': ['Name: Maggy, Age: 33', 'Name: Mike, Age: 23', 'Name: Bob, Age: 65']}

In [4]:
df = pd.DataFrame(data)

In [5]:
df[['Name', 'Age']] = df['Info'].str.extract(r'Name: (\w+), Age: (\d+)')

In [6]:
print(df)

                   Info   Name Age
0  Name: Maggy, Age: 33  Maggy  33
1   Name: Mike, Age: 23   Mike  23
2    Name: Bob, Age: 65    Bob  65