In [14]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   ---- ----------------------------------- 30.7/250.0 kB ? eta -:--:--
   ------------------ --------------------- 112.6/250.0 kB 2.2 MB/s eta 0:00:01
   ---------------------------------------  245.8/250.0 kB 2.5 MB/s eta 0:00:01
   ---------------------------------------- 250.0/250.0 kB 2.6 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [15]:
import pandas as pd

In [16]:
data = {'Name': ['Alex', 'BOb', 'Alice'],
    'Age': [45, 23, 33],
    'City': ['Chicago', 'Moscow', 'San-Paulu']}

In [18]:
df = pd.DataFrame(data)
df.to_excel("people.xlsx", index=False)

In [19]:
df = pd.read_excel('people.xlsx')

In [20]:
print(df)

    Name  Age       City
0   Alex   45    Chicago
1    BOb   23     Moscow
2  Alice   33  San-Paulu